{% extends 'base.html' %}
{% load static %}
{% block title %}chatbot{% endblock title %}
{% block css %}
<link rel="stylesheet" href=" {% static 'transport/chatbot.css' %} " />

{% endblock css %}
{% block content %}
<div id="container" class="container">
    <img src="https://cdn.pixabay.com/photo/2020/01/02/16/38/chatbot-4736275_960_720.png" height="400vh" alt="Chatbot clipart">
     <div id="chat" class="chat">
      <div id="messages" class="messages"></div>
      <input id="input" type="text" placeholder="Write something..." autocomplete="off" autofocus="true" />
    </div>
  </div>
{% endblock content%}
{% block script %}
<script src=" {% static 'transport/chatbot.js' %} "></script>
{% endblock script %}